body {
  background-color: whitesmoke;
  background-image: url(https://img.freepik.com/free-vector/memphis-blue-background-with-halftone-line-elements_1017-33622.jpg?w=900&t=st=1689252720~exp=1689253320~hmac=f34f00d332735d5ca12cb8131959962b5e24c49f9f450f740c10c3bf0d48835d);
}

.navbar {
  overflow: hidden;
  font-family: "Poppin", sans-serif;
  background-color: #374cc4fa;
}

.navbar a {
  float: right;
  color: white; /* warna tulisan */
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 18;
}

.navbar a:hover {
  color: #ccc3b6;
}

.navbar a.active {
  color: #85837b;
}

.navbar ul {
  position: sticky;
  top: 0;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93%;
  /* background-image: url(https://img.freepik.com/free-vector/memphis-blue-background-with-halftone-line-elements_1017-33622.jpg?w=900&t=st=1689252720~exp=1689253320~hmac=f34f00d332735d5ca12cb8131959962b5e24c49f9f450f740c10c3bf0d48835d); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hello {
  font-family: "Yesefa One", serif;
  font-size: 128;
  color: white;
}

.hi {
  font-family: "Poppins", sans-serif;
  font-size: 18;
  color: white;
}

.about-me {
  height: 800px;
  color: #fff;
}

.kiri {
  width: 33%;
  height: 800px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Yesefa One", serif;
  font-size: 60;
}

.kiri img {
  margin-bottom: 20px;
}

.kanan {
  width: 66%;
  height: 800px;
  float: right;
  justify-content: center;
}

.kanan p {
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

ul {
  font-family: "Poppins", sans-serif;
}

.skills {
  height: 740px;
  background-image: url(asset/bgskill.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

.p_skill {
  font-family: "Yesefa One", serif;
  font-size: 80;
  text-align: center;
  padding-top: 100px;
  color: white;
}

table {
  align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cellpadding: 5px;
  color: white;
}
td {
  width: 300px;
  height: 200px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.contact {
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
}

.p_skill {
  font-family: "Yesefa One", serif;
  font-size: 80;
  text-align: center;
  padding-top: 0px;
}

.contact p {
  vertical-align: middle;
  font-family: "Yesefa One", serif;
  font-size: 80;
  color: white;
}

.contact img {
  width: 30px;
  height: 30px;
}

.contact li {
  padding: 10px;
}

footer p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
  padding: 10px;
  margin-bottom: -50px;
}

.contact img {
  padding-right: 10px;
}

.contact a {
  text-decoration: none;
  color: black;
}

.rect-ig,
.rect-git,
.rect-gm {
  width: 400px;
  height: 60px;
  border-radius: 20px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.rect-git,
.rect-gm {
  margin-top: 20px;
}

.rect-ig a,
.rect-ig img,
.rect-git a,
.rect-git img,
.rect-gm a,
.rect-gm img {
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
